// 1170
@media screen and (max-width: 1169px) {

    .wrapper-main .main-img {
        right: 0;
        bottom: -260px;
        left: 0;

        & img {
            width: 100%;
            height: 100%;
        }
    }

    .wrapper-main .main .container {

        h1,
        .main-h2 {
            color: #ffffff;
        }
    }

    .block3 .container .block3-items {
        grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
        grid-gap: 40px 30px;
    }
}




@media screen and (max-width: 1169px) {
    .block3 .container .block3-items .block3-item {
        width: 175px;
    }


    .block3 .container .block3-items {
        grid-gap: 0px 0px;
    }

    .block3 .container .block3-items .block3-item:nth-child(3) {
        margin-left: 0;
    }

    .block3 .block3-bg {
        width: 100%;
        height: 100%;
        background-image: url(../../img/320/dashed-line-767.png);
        top: 75px;
        left: 0;
        background-size: auto 82%;
        opacity: 0.6;
    }

    .wrapper-main .main .container .main-map {
        top: 68px;
    }

    .block6 .container .block6-wrap .block6-content-wrap .block6-carousel-slick .block6-descr-tour .block6-content-text {
        margin: 25px 0 5px;
    }
}

// 768 - 1169
@media screen and (max-width: 850px) {
    .wrapper-main .main .container .main-btns-wrapp {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

    .wrapper-main .main .container .main-h2,
    .wrapper-main .main .container h1 {
        width: 390px;
    }

    .wrapper-main .main .container h1 {
        margin-top: 30px;
        font-size: 50px;
    }

    .wrapper-main .main .container .main-h2 {
        font-size: 25px;
    }



    .block2 .container .block2-descr-text {
        width: 300px;
    }

    .block2 .container {
        padding-bottom: 80px;
    }

    .block3 .block3-bg {
        top: 76px;
        background-size: auto 83%;
        opacity: 0.6;
    }

    .block4 .container .block4-title {
        padding-top: 100px;
    }

    .block4 .container .block4-content .block4-descr .block4-descr-text {
        width: 270px;
    }

    .block5 .block5-image {
        height: 450px;
    }

    .block6 .container {
        padding: 50px 15px 90px;
    }

    .block6 .container .block6-wrap {
        flex-direction: column;
        align-items: center;
    }

    .block6 .container .block6-wrap .block6-content-wrap .block6-carousel-slick .block6-descr-tour .block6-content-text {
        margin: 25px 0 10px;
    }

    .block7 .container-white .block7-wrapp {
        flex-direction: column;
        align-items: center;
    }

    .block7 .container-white .block7-wrapp .block7-text {
        margin-bottom: 40px;
    }

    .block7 .container-white {
        margin-bottom: 85px;
    }

    .block9 {
        height: 565px;
    }
}

@media screen and (max-width: 1000px) {
    .wrapper-main .main .container .main-map {
        top: unset;
        right: calc(50% - 202px);

        .svg-text-white {
            fill: #fff;
        }
    }

}

// 425 - 767 ///////////////////////////////////
@media screen and (max-width: 767px) {
    .bg-white {
        padding-bottom: 850px;
    }

    .wrapper-main .header .menu {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        margin: 0;
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.761);
        z-index: 99;

        .menu-items {
            color: rgb(217, 217, 255);
            font-weight: 800;
            flex-direction: column;
            margin-top: 100px;
        }

    }

    .wrapper-main .main .container .main-map {
        top: 700px;
        right: unset;

        .main-map-big {
            display: none;
        }

        .main-map-mini {
            display: block;
        }

        // right: 150px;
    }

    .wrapper-main .main .container .main-h2 {
        font-size: 25px;
        position: absolute;
        bottom: -444px;
        color: rgb(44, 44, 44);
        text-align: center;

        span {
            color: rgb(44, 44, 44);
        }
    }

    .wrapper-main .main .container h1 {
        width: unset;
        text-align: center;
    }

    .wrapper-main .main .container .main-btns-wrapp .main-btn-book {
        position: absolute;
        bottom: -767px;
        left: calc(50% - 110px);
    }

    .block2 {
        padding-top: 100px;
    }

    .block2 .container {
        position: relative;
        flex-direction: column;
        align-items: center;
        gap: 50px;
        padding-bottom: 160px;

        .block2-image {
            width: unset;
        }
    }

    .block2 .container .block2-descr-title {
        position: absolute;
        // left: 200px;
        top: 10px;
    }


    .block3 {
        position: relative;

        .block3-bg {
            width: 150%;
            height: 115%;
            background-image: url(../../img/320/dashed-line-320.png);
            top: -74px;
            left: -315px;
        }

        .container {
            .block3-items {
                display: grid;
                justify-items: center;
                grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
                grid-template-rows: repeat(4, 1fr);
                grid-gap: 50px 0px;

                .block3-item {
                    width: 244px;

                    &:nth-child(1) {
                        grid-column: 1;
                        grid-row: 1;
                    }

                    &:nth-child(2) {
                        grid-area: 2 / 1;
                    }

                    &:nth-child(3) {
                        grid-column: 1;
                        grid-row: 3;
                        margin-left: unset;
                    }

                    &:nth-child(4) {
                        grid-area: 4 / 1;
                    }
                }
            }
        }
    }


    .block4 .container .block4-content {
        flex-direction: column;
        align-items: center;
    }

    .block4 .container .block4-content .block4-descr {
        .block4-descr-title {
            font-size: 20px;
            font-family: "Montserrat";
            font-weight: bold;
            line-height: 1.05;
        }

        .block4-descr-text {
            font-size: 14px;
            font-family: "Montserrat";
            line-height: 1.5;
            width: 271px;
        }

    }

    .block6 .container {
        padding: 125px 15px 0;
        position: relative;

        .block6-content-wrap .block6-carousel-slick .block6-descr-tour {
            grid-template-columns: auto;
            grid-template-rows: 100px 1fr 1fr;
            gap: 10px;

            .wrapp320 {
                position: absolute;
                top: 0;
            }

            .block6-image {
                margin-top: 50px;
                grid-row-start: 2;
            }

            .block6-content-title {
                width: 255px;
            }

            .block6-desc-wrapper {
                grid-row-start: 3;

                .block6-content-text {
                    font-size: 14px;
                    margin: -130px 0 35px;
                }

                .squere-btns {
                    margin-bottom: 35px;
                }
            }
        }

    }


    .block7-squere-btns {
        position: absolute;
        bottom: -100px;
        // left: 0;
    }

    .block7 .container-white {
        padding: 53px 51px 50px 55px;
    }

    .slick-wrapp.slick-slide {
        margin-bottom: 100px;
    }

    // block8 slider////////////////////////////////////////

    .carousel-slick-mini {
        display: block;
    }

    .carousel-slick-big {
        display: none;
    }


    //выравниваем по центру картинки

    .slick-track {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .slick-slide img {
        margin: auto;
        display: block;

    }

    .block8-carousel-slick img {
        // width: 65%;
        margin-bottom: 25px;
    }

    .main .container {
        display: grid;
        justify-items: center;
    }

    .burger {
        display: block;
    }
}



// от 375 - 560
@media screen and (max-width: 560px) {
    .footer .container {
        flex-direction: column;
        gap: 20px;
    }
}

// от 320 - 375//////////////////////////////////////////////////////////
@media screen and (max-width: 374px) {
    .wrapper-main .main .container {
        h1 {
            margin-top: 30px;
            font-size: 30px;
            width: 215px;
        }

        .main-h2 {
            font-size: 20px;
            bottom: -420px;
            width: 215px;
            text-align: center;
        }

        .main-map {
            top: 600px;

            .main-map-img {
                content: url('../../img/320/map320.png');
            }
        }


    }

    .wrapper-main .main .container .main-btns-wrapp .btn-play {
        .svg-icon svg {
            width: 40px;
            height: 40px;
        }

        .btn-play-text {
            font-size: 15px;
        }
    }


    .block2 {
        padding-top: 80px;

        .container {
            padding-bottom: 100px;

            .block2-descr-title {
                font-size: 25px;
            }

            .block2-descr-text {
                width: 290px;
                font-size: 14px;
            }
        }
    }

    .block3 .container .block3-title {
        margin: 0 auto 40px;
        width: 255px;
        font-size: 25px;
    }


    .block3 {
        .block3-bg {
            top: -59px;
            left: -163px;
        }

        .container .block3-items .block3-item {
            .item-circle {
                width: 50px;
                height: 50px;

                .item-num {
                    left: 20px;
                    top: 10px;
                    font-size: 25px;
                }
            }

            .block3-item-title {
                line-height: 1;
                margin-bottom: 10px;
            }
        }
    }

    .block4 .container .block4-title {
        font-size: 25px;

        .block4-descr {
            padding-bottom: 80px;
        }
    }


    .block5 {
        .block5-image {
            height: 220px;
        }

        .container .btn-play {
            gap: 10px;

            .svg-icon-5 svg {
                width: 40px;
                height: 40px;
            }

            .btn-play-text {
                font-size: 13px;
                width: 200px;
            }
        }
    }


    .block6 {
        height: 1250px;

        .container {
            padding: 85px 15px 0;

            .block6-title {
                font-size: 25px;
            }

            .block6-content-wrap {
                .block6-descr-tour {
                    width: 295px;

                    .squere-btns {
                        margin-bottom: 30px;
                    }
                }
            }
        }
    }



    .block7 {
        .block7-title {
            font-size: 25px;
            margin-bottom: 40px;
        }

        .container-white {
            padding: 0 15px;

            .block7-wrapp {
                .block7-text {
                    font-size: 14px;
                    margin-bottom: 10px;
                }

                .block7-count {
                    margin: 30px 0;
                }

                .block7-image {
                    width: unset;
                    height: unset;
                }
            }
        }
    }



    .block8 .block8-title {
        font-size: 25px;
        margin-bottom: 30px;
    }

    .block8,
    .slick-controls-wrapper {
        position: relative;
        top: 15px;
    }

    .slick-dotted.slick-slider {
        margin-bottom: 40px;
    }

    .slick-dots {
        bottom: -45px;
    }

    .slick-dots li button {
        width: 12px;
        height: 12px;
    }

    .slick-arrow svg {
        width: 80%;
    }

    .block9 .container {
        padding-top: 40px;

    }

    .block9-title {
        font-size: 25px;
    }

    .lable-radio {
        width: 30px;
        height: 30px;
        line-height: 27px;
        font-size: 18px;
    }

    .lable-radio-title {
        margin-top: 40px;
    }

    .request__btn {
        color: #2c2c2c;
        line-height: 1.2;
        background-color: #fff;
        width: 300px;
        height: 50px;
        margin-top: 20px;
        margin-bottom: 80px;
    }

    .block9 {
        height: unset;
    }

    .radio-btns {
        gap: 13px;
    }


}